<header id="banner"{{ if .IsHome }} class="home-banner"{{ end }}>
    {{- if .IsHome }}
    <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    {{- else }}
    <h2><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
    {{- end }}
    <nav>
        <ul>
            {{ range .Site.Menus.main.ByWeight -}}
            <li>
                {{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a>{{ .Post }}
            </li>
            {{- end }}
        </ul>
    </nav>
</header>
