<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main id="content">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
        {{- if eq .Section "posts" -}}
            {{ $codeCopy := resources.Get "js/code-copy.js" | minify | fingerprint -}}
            <script src="{{ $codeCopy.RelPermalink }}" integrity="{{ $codeCopy.Data.Integrity }}" defer></script>
        {{- end -}}
    </body>
</html>
